<%- include partials/header.ejs %>

  <head>
    <script type="text/javascript" src="javascripts/contract_interaction.js"></script>
  </head>

  <div class="jumbotron">
    <h1 class="display-4">Blockchain Powered Donation</h1>
    <p class="lead">Select Your Preferred Charity Organization</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="https://www.sciencedirect.com/science/article/pii/S1319157822003512"
        role="button">Learn more</a>
    </p>
  </div>

  <% if(name) { %>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Hello
        </div>
        <div class="card-body">
          <h5 class="card-title">Hi there <%= name %>, thanks for choosing to donate today! </h5>
          <h5 class="card-title">See the list of charity organizations. Please select your preferred organization. </h5>
        </div>
      </div>
    </div>
    <% } %>

      <div class="container">
        <form action="/" method="post">
          <div class="form-group">
            <label for="name">Enter Your Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

      <br>
      <br>

      <div id="readArea"> <!--Connecting to MetaMask -->
        <button class="btn btn-success" onclick="connectMetamask()">CLICK HERE TO CONNECT TO METAMASK </button>
        <p id="userArea">Status: Not connected to Metamask</p>
        <!-- index html to meta-->
      </div>


      <button onclick="connectContract()">CONNECT TO CONTRACT</button>
      <p id="contractArea">Status: Not connected to Contract</p>
      <!-- metamack to contract connection -->

      <button onclick="getContractAccount()"> GET CONTRACT ACCOUNT </button>
      <p id="contractAccount">Contract Account: Not Connected to Contract</p>
      <!-- Calling the function designed in solidity get deployment addresss -->


      <div class="container text-center">
        <div class="row">
          <div class="col">
            <figure>
              <img src="/Images/Image1.jpeg" class="img-fluid" alt="Picture of Charity 1">
              <figcaption>Charity 1</figcaption>
            </figure>

            <p>
              Welcome to Helping Hands Heroes, where kids become real-life superheroes by making a positive impact on
              the world! We believe that even the smallest hands can create the biggest change. Our charity organization
              is all about kids helping kids and making the world a better place. We believe in the power of education.
              Our programs help you learn about important issues like helping the environment, and supporting other kids
              in need.
              <br>
              <label for "input0">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input0">
              <button type="button" class="btn btn-primary btn-sm" id="button0" onclick="donateToOrganization(0)">DONATE
                NOW</button>

            </p>
          </div>


          <div class="col">
            <figure>
              <img src="/Images/Image2.jpeg" class="img-fluid" alt="Picture of Charity 2">
              <figcaption>Charity 2</figcaption>
            </figure>

            <p>
              Welcome to the Golden Hearts Foundation, where we are dedicated to ensuring that our beloved elderly
              citizens lead dignified, joyful, and fulfilling lives during their golden years. Our charity organization
              is committed to supporting and empowering senior citizens, recognizing the invaluable contributions they
              have made throughout their lives. We offer financial assistance and guidance to seniors who may be
              struggling to meet their basic needs, such as housing, food, and healthcare expenses.
              <br>
              <label for "input1">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input1">
              <button type="button" class="btn btn-primary btn-sm" id="button1" onclick="donateToOrganization(1)">DONATE
                NOW</button>

            </p>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <figure>
              <img src="/Images/Image3.jpeg" class="img-fluid" alt="Picture of Charity 3">
              <figcaption>Charity 3</figcaption>
            </figure>

            <p>
              Welcome to the Rising Hope Foundation, a charitable organization committed to creating positive change in
              developing countries. Our mission is to empower and uplift vulnerable communities in these regions,
              working hand in hand with local partners to bring hope, opportunity, and sustainable development where it
              is needed most. The Rising Hope Foundation is driven by a powerful vision of a world where every community
              in a developing country has the chance to thrive. We work tirelessly to provide access to essential
              services such as clean water, healthcare, education, and food security.
              <br>
              <label for "input2">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input2">
              <button type="button" class="btn btn-primary btn-sm" id="button2" onclick="donateToOrganization(2)">DONATE
                NOW</button>


            </p>
          </div>




          <div class="col">
            <figure>
              <img src="/Images/Image4.jpeg" class="img-fluid" alt="Picture of Charity 4">
              <figcaption>Charity 4</figcaption>
            </figure>

            <p>
              Welcome to the SafeHarbor Foundation, a compassionate charity organization dedicated to supporting and
              empowering survivors of domestic abuse. Our mission is to provide a safe refuge for those who have
              experienced abuse, offering them the support, resources, and hope they need to rebuild their lives. The
              SafeHarbor Foundation is guided by a profound commitment to empowering survivors and ending the cycle of
              domestic abuse. We advocate for the rights and well-being of survivors, working with legal systems,
              policymakers, and other organizations to ensure justice and protection.
              <br>
              <label for "input3">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input3">
              <button type="button" class="btn btn-primary btn-sm" id="button3" onclick="donateToOrganization(3)">DONATE
                NOW</button>


            </p>
          </div>

        </div>
      </div>


      <h2>
        Transaction Logs
      </h2>

      <textarea id="logs" name="logs" rows="10" cols="100">

      </textarea>



      <%- include partials/footer.ejs %>