<%- include partials/header.ejs %>

<html> 
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

  </head>

  <div class="jumbotron">
    <h1 class="display-4">Blockchain Powered Donation</h1>
    <p class="lead">Select Your Preferred Charity Organization</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="https://www.sciencedirect.com/science/article/pii/S1319157822003512"
        role="button">Learn more</a>
    </p>
  </div>

  <% if(name) { %>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Hello
        </div>
        <div class="card-body">
          <h5 class="card-title">Hi there <%= name %>, thanks for choosing to donate today! </h5>
          <h5 class="card-title">See the list of charity organizations. Please select your preferred organization. </h5>
        </div>
      </div>
    </div>
    <% } %>

      <div class="container">
        <form action="/" method="post">
          <div class="form-group">
            <label for="name">Enter Your Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

      <br>
      <br>

      <div id="readArea"> <!--Connecting to MetaMask -->
        <button class="btn btn-success" onclick="connectMetamask()">CLICK HERE TO CONNECT TO METAMASK </button>
        <p id="userArea">Status: Not connected to Metamask</p>
         <!-- index html to meta-->
    </div>


    <button onclick="connectContract()">CONNECT TO CONTRACT</button>
    <p id="contractArea">Status: Not connected to Contract</p>
    <!-- meta to SC -->

    <button onclick="getContractAccount()"> GET CONTRACT ACCOUNT </button>
    <p id="contractAccount">Contract Account: Not Connected to Contract</p>
    <!-- CAlling the function designed in solidity get deployment addresss -->

    <button onclick="getBalanceApple()">GET BALANCE OF THE CONTRACT</button>
    <p id="balanceArea">Balance: Not Connected to Contract</p>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <figure>
              <img src="/Images/Image1.jpeg" class="img-fluid" alt="Picture of Charity 1">
              <figcaption>Charity 1</figcaption>
            </figure>
            <!--News article and picture courtesy to https://cnalifestyle.channelnewsasia.com/entertainment/hilary-swank-gives-birth-twins-354291-->
            <p>
              Welcome to Helping Hands Heroes, where kids become real-life superheroes by making a positive impact on
              the world! We believe that even the smallest hands can create the biggest change. Our charity organization
              is all about kids helping kids and making the world a better place. We believe in the power of education.
              Our programs help you learn about important issues like helping the environment, and supporting other kids
              in need. 
              <br>
              <label for "input0">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input0">
              <button type="button" class="btn btn-primary btn-sm" id="button0" onclick="donateToOrganization(0)">DONATE NOW</button>

            </p>
          </div>


          <div class="col">
            <figure>
              <img src="/Images/Image2.jpeg" class="img-fluid" alt="Picture of Charity 2">
              <figcaption>Charity 2</figcaption>
            </figure>
            <!--News article and picture courtesy to https://cnalifestyle.channelnewsasia.com/entertainment/hilary-swank-gives-birth-twins-354291-->
            <p>
              Welcome to the Golden Hearts Foundation, where we are dedicated to ensuring that our beloved elderly
              citizens lead dignified, joyful, and fulfilling lives during their golden years. Our charity organization
              is committed to supporting and empowering senior citizens, recognizing the invaluable contributions they
              have made throughout their lives. We offer financial assistance and guidance to seniors who may be
              struggling to meet their basic needs, such as housing, food, and healthcare expenses.
              <br>
              <label for "input1">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input1">
              <button type="button" class="btn btn-primary btn-sm" id="button1" onclick="donateToOrganization(1)">DONATE NOW</button>

            </p>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <figure>
              <img src="/Images/Image3.jpeg" class="img-fluid" alt="Picture of Charity 3">
              <figcaption>Charity 3</figcaption>
            </figure>
            <!--News article and picture courtesy to https://cnalifestyle.channelnewsasia.com/entertainment/hilary-swank-gives-birth-twins-354291-->
            <p>
              Welcome to the Rising Hope Foundation, a charitable organization committed to creating positive change in
              developing countries. Our mission is to empower and uplift vulnerable communities in these regions,
              working hand in hand with local partners to bring hope, opportunity, and sustainable development where it
              is needed most. The Rising Hope Foundation is driven by a powerful vision of a world where every community
              in a developing country has the chance to thrive. We work tirelessly to provide access to essential
              services such as clean water, healthcare, education, and food security. 
              <br>
              <label for "input2">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input2">
              <button type="button" class="btn btn-primary btn-sm" id="button2" onclick="donateToOrganization(2)">DONATE NOW</button>


            </p>
          </div>




          <div class="col">
            <figure>
              <img src="/Images/Image4.jpeg" class="img-fluid" alt="Picture of Charity 4">
              <figcaption>Charity 4</figcaption>
            </figure>
            <!--News article and picture courtesy to https://cnalifestyle.channelnewsasia.com/entertainment/hilary-swank-gives-birth-twins-354291-->
            <p>
              Welcome to the SafeHarbor Foundation, a compassionate charity organization dedicated to supporting and
              empowering survivors of domestic abuse. Our mission is to provide a safe refuge for those who have
              experienced abuse, offering them the support, resources, and hope they need to rebuild their lives. The
              SafeHarbor Foundation is guided by a profound commitment to empowering survivors and ending the cycle of
              domestic abuse. We advocate for the rights and well-being of survivors, working with legal systems,
              policymakers, and other organizations to ensure justice and protection. 
              <br>
              <label for "input3">ETH Amount</label>
              <input type="number" min="0" value="0" step=".0001" id="input3">
              <button type="button" class="btn btn-primary btn-sm" id="button3" onclick="donateToOrganization(3)">DONATE NOW</button>

              
            </p>
          </div>

        </div>
      </div>

      <script>      
        let account;
        const connectMetamask = async () => {
            if(window.ethereum !== "underfined"){
                const accounts = await ethereum.request({method: "eth_requestAccounts"});
                account = accounts[0];
                document.getElementById("userArea").innerHTML = `User Account: ${account}`;
            }
        }
        
        
        const connectContract = async () => {
                const ABI = [
	{
		"inputs": [],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"inputs": [
			{
				"internalType": "address payable",
				"name": "newCharityOrg",
				"type": "address"
			}
		],
		"name": "addCharityOrganization",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "charity_org",
		"outputs": [
			{
				"internalType": "address payable",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "deposit",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "donors",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getAddress",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getBalance",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "selectedOrgIndex",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "orgIndex",
				"type": "uint256"
			}
		],
		"name": "transferToCharity",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address payable",
				"name": "_to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_amount",
				"type": "uint256"
			}
		],
		"name": "withdraw",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	}
]   ;
        
        
                const Address = "0x73a4beb63576c24f266f8b4b218cf20f05548fa8"; // Taking Address from Remix 
                window.web3 = await new Web3(window.ethereum);
                window.contract = await new window.web3.eth.Contract(ABI, Address);
                document.getElementById("contractArea").innerHTML = "Connected to Contract"; // calling the elementID above
            }
        
            const getContractAccount = async () => {
                const data = await window.contract.methods.getAddress().call();
                document.getElementById("contractAccount").innerHTML = `Contract Account: ${data}`;
            }
        
            const getBalanceApple = async () => { // const getBalanceApple is the HTML function & .contract.getBalance is the smart contract function
                const data = await window.contract.methods.getBalance().call();
                document.getElementById("balanceArea").innerHTML = `Contract Balance: ${data}`;
            }
        
            const withdraw = async () => {
                const amount = document.getElementById("amountInput").value;
                const address = document.getElementById("addressInput").value;
                await window.contract.methods.withdraw(address, amount).send({from: account});
            }
        
        //Tried hardcoding for testing purpose only. To be removed.
            const donateToOrganization = async (organizationIndex) => {
              const ethAmount= parseFloat(document.getElementById(`input${organizationIndex}`).value); // Get the ETH amount entered by the user
              
              const weiAmount = ethAmount*1000000000000000000;

              // Send a donation to the smart contract
              await window.contract.methods.deposit().send({from: account, value: weiAmount});

              // After the donation is sent to smart contract, immediately call the transferToCharity function
              await window.contract.methods.transferToCharity(organizationIndex).send({from: account});

              // Provide feedback to the user that the donation was successful
              alert(`Thank you for donating ${ethAmount} ETH to your preferred charity.`);
            }


                
        </script> 
     

</html>



      <%- include partials/footer.ejs %>