<%- include partials/header.ejs %>

    <head>
        <script type="text/javascript" src="javascripts/contract_interaction.js"></script>
    </head>


    <body>
        <div id="readArea"> <!--Connecting to MetaMask -->
            <button class="btn btn-success" onclick="connectMetamask()">CLICK HERE TO CONNECT TO METAMASK </button>
            <p id="userArea">Status: Not connected to Metamask</p>
            <!-- index html to meta-->
        </div>


        <button onclick="connectContract()">CONNECT TO CONTRACT</button>
        <p id="contractArea">Status: Not connected to Contract</p>
        <!-- metamask to smart contract connection -->

        <button onclick="getContractAccount()"> GET CONTRACT ACCOUNT </button>
        <p id="contractAccount">Contract Account: Not Connected to Contract</p>
        <!-- Calling the function designed in solidity get deployment addresss -->

        <!--Obtain contract balance-->
        <button onclick="getBalanceApple()">GET BALANCE OF THE CONTRACT</button>
        <p id="balanceArea">Balance: Not Connected to Contract</p>


        <!-- calling the withdraw function -->
        <button onclick="withdraw()">WITHDRAW ETHER TO ANY ADDRESS TO FUND PROJECT</button> <br>
        <input type="text" id="addressInput" placeholder="Enter Recipient's Address"> <br>
        <input type="number" id="amountInput" placeholder="Enter Amount in ETH">


        </div>

    </body>