<%- include partials/header.ejs %>

<head>
<script type="text/javascript" src="javascripts/contract_interaction.js"></script>
</head>

<div class="jumbotron">
    <h1 class="display-4"> Transactions </h1>
    <p class="lead">Check Your Transactions Here. Open Etherscan to get more details on a transaction. </p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="https://etherscan.io/" role="button">Open Etherscan</a>
    </p>
  </div>

<div class="container">

 

</div>

  
<%- include partials/footer.ejs %>